.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.avatar {
  max-width: 200px;
  width: 40%;
  margin-top: 8vh;
}

.name {
  font-size: 1.5rem;
  margin-top: 3vh;
}

.links {
  font-size: 1rem;
  margin-top: 3vh;
  list-style: none;
  text-align: center;
}

.links > li {
  margin-bottom: 20px;
}
